<button id="select-all">Select all</button> <br>
<button id="uncheck">Uncheck all</button> <br>
<button id="approve-all">Approve selected</button> <br>
<button id="unapprove-all">Unapprove selected</button> <br>

<div class="target">
  
</div>

<div class="all-output">
  <%= render 'allEvents', locals: {eventsToday: @eventsToday} %>
</div>
